# Delete

Passo 1: Importe as bibliotecas necessárias.

In [168]:
import numpy as np
import pandas as pd

Passo 2: importe o dataset pelo link fornecido.

Passo 3: Atribua-o a uma variável chamada 'wine'.

In [169]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

Passo 4: Delete a primeira, quarta, sétima, nona, décima primeira, décima terceira e décima quarta colunas.

In [170]:
wine = wine.drop(columns=wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)

In [171]:
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

Passo 5: Nomeie as colunas de acordo com os nomes abaixo.


    1) alcohol
    2) malic_acid
    3) alcalinity_of_ash
    4) magnesium
    5) flavanoids
    6) proanthocyanins
    7) hue

In [172]:
wine = wine.rename(columns={wine.columns[0]:'alcohol', wine.columns[1]:'malic_acid', wine.columns[2]:'alcalinity_of_ash',
                    wine.columns[3]:'magnesium', wine.columns[4]:'flavanoids', wine.columns[5]:'proanthocyanins',
                    wine.columns[6]:'hue'})

In [173]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

Passo 6: Defina os valores das 3 primeiras linhas de 'alcohol' como NaN.

In [174]:
wine['alcohol'][:3] = np.nan

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [175]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

Passo 7: Agora, defina o valor das linhas 3 e 4 de 'magnesium' como NaN.

In [176]:
wine['magnesium'][3:5] = np.nan

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [177]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,NaN,3.39,1.97,1.05

Passo 8: Preencha o valor de NaN com número 10 em 'alcohol' e 100 em 'magnesium'.

In [178]:
wine['alcohol'][:3] = 10

In [179]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,NaN,3.39,1.97,1.05

In [180]:
wine['magnesium'][3:5] = 100

In [181]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,100.0,3.39,1.97,1.05

Passo 9: Conte o número de valores faltantes.

In [182]:
wine.isnull().sum(axis=0)

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

Passo 10: Crie um array de 10 números aleatórios até 10.

In [183]:
arr = np.random.randint(10, size=10)

Passo 11: Use números aleatórios que você gerou como um índice e atribua valor 'NaN' a cada da célula.

In [184]:
wine.loc[4] = np.nan

In [185]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Passo 12: Quantos valores faltantes existem no dataset?

In [186]:
wine.isnull().sum(axis=0)

alcohol              1
malic_acid           1
alcalinity_of_ash    1
magnesium            1
flavanoids           1
proanthocyanins      1
hue                  1
dtype: int64

Passo 13: Delete as linhas que contém valores faltantes.

In [187]:
wine = wine.drop(4)

In [188]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02

Passo 14: Imprima somente os valores não-nulos values in 'alcohol'

In [190]:
wine['alcohol'].dropna()

0      10.00
1      10.00
2      10.00
3      13.24
5      14.39
6      14.06
7      14.83
8      13.86
9      14.10
10     14.12
11     13.75
12     14.75
13     14.38
14     13.63
15     14.30
16     13.83
17     14.19
18     13.64
19     14.06
20     12.93
21     13.71
22     12.85
23     13.50
24     13.05
25     13.39
26     13.30
27     13.87
28     14.02
29     13.73
30     13.58
       ...
147    13.32
148    13.08
149    13.50
150    12.79
151    13.11
152    13.23
153    12.58
154    13.17
155    13.84
156    12.45
157    14.34
158    13.48
159    12.36
160    13.69
161    12.85
162    12.96
163    13.78
164    13.73
165    13.45
166    12.82
167    13.58
168    13.40
169    12.20
170    12.77
171    14.16
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 176, dtype: float64

Passo 15: Reinicie o índice, então ele começará do 0 novamente.

In [192]:
wine = wine.reset_index()

In [193]:
wine

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
5,6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
6,7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
7,8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
8,9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
9,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
10,11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
11,12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
12,13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
13,14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
14,15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
15,16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
16,17,14.19,1.59,16.5,108.0,3.93,1.86,1.23
17,18,13.64,3.10,15.2,116.0,3.03,1.66,0.96
18,19,14.06,1.63,16.0,126.0,3.17,2.10,1.09
19,20,12.93,3.80,18.6,102.0,2.41,1.98,1.03
20,21,13.71,1.86,16.6,101.0,2.88,1.69,1.11
21,22,12.85,1.60,17.8,95.0,2.37,1.46,1.09
22,23,13.50,1.81,20.0,96.0,2.61,1.66,1.12
23,24,13.05,2.05,25.0,124.0,2.68,1.92,1.13
24,25,13.39,1.77,16.1,93.0,2.94,1.45,0.92
25,26,13.30,1.72,17.0,94.0,2.19,1.35,1.02
26,27,13.87,1.90,19.4,107.0,2.97,1.76,1.25
27,28,14.02,1.68,16.0,96.0,2.33,1.98,1.04
28,29,13.73,1.50,22.5,101.0,3.25,2.38,1.19
29,30,13.58,1.66,19.1,106.0,3.19,1.95,1.09
...,...,...,...,...,...,...,...,...
146,147,13.32,3.24,21.5,92.0,0.76,1.25,0.55
147,148,13.08,3.90,21.5,113.0,1.39,1.14,0.57
148,149,13.50,3.12,24.0,123.0,1.57,1.25,0.59
149,150,12.79,2.67,22.0,112.0,1.36,1.26,0.48
150,151,13.11,1.90,25.5,116.0,1.28,1.56,0.61
151,152,13.23,3.30,18.5,98.0,0.83,1.87,0.56
152,153,12.58,1.29,20.0,103.0,0.58,1.40,0.58
153,154,13.17,5.19,22.0,93.0,0.63,1.55,0.60
154,155,13.84,4.12,19.5,89.0,0.83,1.56,0.57
155,156,12.45,3.03,27.0,97.0,0.58,1.14,0.67
156,157,14.34,1.68,25.0,98.0,1.31,2.70,0.57
157,158,13.48,1.67,22.5,89.0,1.10,2.29,0.57
158,159,12.36,3.83,21.0,88.0,0.92,1.04,0.56
159,160,13.69,3.26,20.0,107.0,0.56,0.80,0.96
160,161,12.85,3.27,22.0,106.0,0.60,0.96,0.87
161,162,12.96,3.45,18.5,106.0,0.70,0.94,0.68
162,163,13.78,2.76,22.0,90.0,0.68,1.03,0.70
163,164,13.73,4.36,22.5,88.0,0.47,1.15,0.78
164,165,13.45,3.70,23.0,111.0,0.92,1.46,0.85
165,166,12.82,3.37,19.5,88.0,0.66,0.97,0.72
166,167,13.58,2.58,24.5,105.0,0.84,1.54,0.74
167,168,13.40,4.60,25.0,112.0,0.96,1.11,0.67
168,169,12.20,3.03,19.0,96.0,0.49,0.73,0.66
169,170,12.77,2.39,19.5,86.0,0.51,0.64,0.57
170,171,14.16,2.51,20.0,91.0,0.70,1.24,0.62
171,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
172,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
173,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
174,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
175,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61